{% extends 'base.html'%}

{% load static %}

{% block title %} | Deals {% endblock %}


{% block content %}

  <!-- Deal Terms -->
  <section class="textheader">
    <div class="container">
      <div class="row justify-content-center text-center">
        <h1> Ticket Holder Meal Deal</h1>
      </div>
      <div>
        <h5>
          Terms
        </h5>
        <p class="text-secondary">
          August 29,
        </p>
        <div>
          <p>1. <strong>Acceptance of Deal Terms</strong> These terms (“Subscription Terms”) shall govern your
            participation in and use of the JP® Ticket Program available for purchase at the JP® mobile app or website
            (“Visit Jurassic Park”). The Ticket Deal is provided by Bronto Burger Corporation (“BBC,” “Company,”
            “we,” or “us”). These Subscription Terms are to be read in connection with BBC's Terms of Service and
            Privacy Policy, both of which are incorporated into and made part of these Subscription Terms by reference.
            Each time you use the Ticket Meal Deal, you signify that you agree to be bound by these Deal
            Terms. If you do not agree to these Deal Terms, you will be able to use this Deal and opt-out of ticket
            deals. </p>
          <p>2. <strong>Updates to Deal Terms</strong> BBC reserves the right to update or change these Deal
            Terms at any time. Depending on the nature of the change or update, BBC may provide notice by posting the
            new Deal Terms on the Ticket Deal page found on the U.S. BRONTO BURGER® website or mobile app
            with a new Effective Date shown. All such changes in the Deal Terms shall be effective from the
            Effective Date set when posted. </p>
          <p>3. <strong>Deal Validaton and Redemption</strong> Tickets will only be valid for use after being accepted
            for entrance to park.
            The tickets must be 2-day passes at minimum, Single Day passes ARE NOT VALID FOR THIS DEAL. Upon Ticket use
            for park entrance
            allows 24 hours for system update and information to be sent to BBC from JP®, INGEN. After validation
            tickets must be scanned
            into the BBC mobile app to be credited to you account, customers may also mail in thier tickets and
            information to the BBC offices at 1008 Rardin Dr, Palo Alto CA 94301.
          </p>

        </div>
      </div>
    </div>
  </section>

{% endblock %}