/* FONTS */

@font-face {
  font-family: "Norwester";
  src: url("webfonts/norwester.eot");
  src: url("webfonts/norwester.woff") format("woff"),
  url("webfonts/norwester.ttf") format("truetype"),
  url("webfonts/norwester.svg#svgNorwester") format("svg");
  }

@font-face {
  font-family: 'Kollektif Regular';
  font-style: normal;
  font-weight: normal;
  src: url('webfonts/Kollektif.woff') format('woff');
}

/* initial set ups */


body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

}

nav {
  font-family: 'Norwester';
  text-transform: uppercase;
}

button {
  font-family: 'Norwester';
  text-transform: uppercase;
}


h1, h2 {
  font-family: 'Norwester';
  text-transform: uppercase;
}

h3, h4, h5, h6 {
  font-family: 'Kollektif Regular';
  text-transform: uppercase;
}


/* class set ups */

.logo  {
  width: 80px;
  height: auto;
}

#header {
  height: 80px;
  background: #6b9259;
  color: #fff;

}

#user-tools a:visited {
  color:#ffffffcc;
}

#user-tools a:link {
  color: #fff
}

#branding h1{
  color:#fff;
}

a:link,
a:visited {
  color: #96b5f6;
}



div.breadcrumbs {
  background: #131313;
  color: #fff;
}

div.breadcrumbs a {
  color: #ffffff8a;
}

.module h2,
.module caption,
.inline-group h2 {
  background: #a8a8a8;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background: #a8a8aa;
  color: #ffffff;
}
