{% extends 'base.html' %}

{% load static %}

{% block title %}
| About
{% endblock %}

{% block content %}

 <!-- About -->

 <section class="textheader">
  <div class="container mb-4">
      <h1 class="display-4 text-center">About Bronto Burger</h1>
      <hr>
      <div>
          <h2 class="mt-5">Our Story</h2>
          <p>Bronto Burger was formed in 1990. Originally named Jungle Shack. John Hammon and the IGEN corporation approached
            founder, Dominick Flynt, about opening a Jurassic Park themed resturant and working hand in hand with Jurassic Park
            to make sure them level of customer care and dedication was offered to our customers. Dominick at the time was a
            sucessful owner of two Burger resturtants in Los Angeles. Known for their progessive approach to food by providing
            options for all diets and customers, Bronto Burger still leads the charge in ensuring as many customers as possible
            can enjoy our food!
          </p>
      </div>
      <div>
          <h2 class="mt-5">Our Goal</h2>
          <p>Bronto Burger strives to make sure we provide high quality meat and vegetable products to our customers.
            We strvie to carry a wide vareity of foods for all tastes and dietary restrictions. We also made our menu revolve
            around the customer first. As such all specialty sandwiches and burger are able to be customize to any customer desire.
            We personaly feel that your tastebuds are unique and as such you should be able to tailor any meal to your needs.
          </p>
      </div>
      <div>
          <h2 class="mt-5">Outside and Inside the Park</h2>
          <p>As the premier burger stop of Jurassic Park, you can be sure to enjoy the same level of service inside and outside
            the park. Every Bronto Burger is held to the same standards as the Flagship locations in Palo Alto and on Isla Nublar.
            You'll never feel like you left the park when you step into our local locations
          </p>
      </div>
  </div>
</section>

{% endblock %}