{% extends 'base.html' %}

{% load static %}

{% block title %}
| Bronto App
{% endblock %}

{% block content %}

<!-- Header -->

<section id="brontoApphead">
  <div class="container">
    <div class="row p-0 m-0">
      <div class="col-md-6 col-7">
        <img src="{% static 'img/PhoneAd.png' %}" alt="">
      </div>
      <div class="col-md-6 col-5 align-self-center justify-content-center p-0">
        <h3 class="d-none d-md-block display-6">Say Hi to</h3>
        <h1 class="d-none d-md-block display-3">Bronto-App®</h1>
        <h3 class="d-block d-md-none h6">Say Hi to</h3>
        <h1 class="d-block d-md-none h4">Bronto-App®</h1>
        <h5 class="d-none d-md-block">1,150 pounds of delicious in your pocket</h5>
        <div class="row p-0">
          <a href=""><img class="appStoreBadge mx-1" src="{% static 'img/appleStore.svg' %}" alt="Apple Store Download"></a>
          <a href=""><img class="appStoreBadge mx-1" src="{% static 'img/google-play-badge.png' %}"
              alt="Google Play Store Download"></a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- App info -->
<section class="my-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-4">
      <h2 class="h1">Benefits of the App family</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <i class="text-green fas fa-fast-forward fa-4x mr-4"></i>
        <hr />
        <h3>Skip The Wait</h3>
        <p>
          You can order and pay via the Bronto-App®. When it's ready you can jump the line to our pick-up counter!
        </p>
      </div>
      <div class="col-md-4">
        <i class="text-green fas fa-piggy-bank fa-4x mr-4"></i>
        <hr />
        <h3>Earn Points</h3>
        <p>
          Every purchase on you make earns you points! Points can be redeemed for deals, Bronto Swag, or even Gift
          Cards.
        </p>
      </div>
      <div class="col-md-4">
        <i class="text-green fas fa-receipt fa-4x mr-4"></i>
        <hr />
        <h3>Save Your Orders</h3>
        <p>
          Save your custom burgers and orders. Having an extra fry kind of day again? Don't worry we'll remeber that
          details!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Info and Download -->
<section class="my-5">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <h2 class="h1">Why the Bronto-App®?</h3>
    </div>
    <div class="row">
      <div class="col align-self-center text-right">
        <h4 class="h3">Schedule an order</h4>
        <p class="mb-4">Want food when you land? Need lunch ready for your break? Post-gym burger?
            Don't worry we got you covered. Schedule an order to be ready when you need it
        </p>

        <h4 class="h3">Split the Bill</h4>
        <p class="mb-4">Don't play nose-goes to  see who's ordering. Now you can simple add a payee to
          the order and they will be able to split the bill with you!
        </p>

        <h4 class="h3">JP Bonuses</h4>
        <p>The Bronto-App® members will be able to recieve a special Bronto Edition Jurassic Park t-shirt and club-house
            access based on thier points teir.
        </p>

      </div>
      <div class="col">
        <img src="{% static 'img/BrontoAppAdPlane.png' %}" alt="">
      </div>

    </div>
  </div>
</section>

{% endblock %}