{% extends 'base.html' %}

{% load static %}

{% block title %}
| FAQs
{% endblock %}

{% block content %}

 <!-- FAQ's -->
 <section class="textheader">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center">
        <h1>Bronto Burger Support</h1>
        <hr>
      </div>
    </div>
    <div>
      <h4>Frequently Asked Questions</h4>
      <p>Save some time, your solution might be below!</p>
      <hr>

      <!-- Terminal -->
      <div class="container bg-dGray mb-5 terminal pt-3 px-0">
        <div class="row">
          <div class="col-7">
            <h5 class="text-right text-light">Support Terminal</h5>
          </div>
          <div class="col-5">
            <div class="row justify-content-end pr-5">
              <a href="#">
                <div class="terminalIcon terminalButton text-center">
                  <i class="fas fa-minus align-middle"></i>
                </div>
              </a>
              <a href="#">
                <div class="terminalIcon terminalButton text-center mx-2">
                  <i class="far fa-square align-middle"></i>
                </div>
              </a>
              <a href="#">
                <div class="terminalIcon terminalClose text-center">
                  <i class="fas fa-times align-middle"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <hr class="bg-black">

        <!-- Terminal Toolbar -->
        <div class="row px-4 py-0 m-0">
          <a href="{% url 'index' %}" class="p-0 m-0">
            <div class="text-light">
              <p>Home</p>
            </div>
          </a>
          <a href="#" class="p-0 m-0">
            <div class="text-light ml-3">
              <p>Apply</p>
            </div>
          </a>
          <a href="#" class="p-0 m-0">
            <a href="#" class="p-0 m-0">
              <div class="text-light ml-3">
                <p>Invest</p>
              </div>
            </a>
            <a href="#" class="p-0 m-0">
              <div class="text-light ml-3">
                <p>Help</p>
              </div>
            </a>
        </div>

        <!-- Terminal FAQ sectio-->
        <section class="bg-purple">
          <p class=" ml-2 text-light mb-0 pb-0"> bash: alias: whte_rbt.obj: not found</p>
          <div class="row ml-2">
            <p class="text-pink">DNedry@104.64.222.161: <span class="text-iceBlue">~/Support/FAQ</span> $ <span
                class="text-light"> ls</span></p>
          </div>

          <div>
            <ul class="ul-group text-left pl-4">

              <a data-toggle="collapse" href="#faq1" aria-expanded="false" aria-controls="faq1">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> Is
                  your food Vegetarian/ Vegan?</li>
              </a>
              <div class="collapse" id="faq1">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq2" aria-expanded="false" aria-controls="faq2">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> Is your
                  food Hala or Kosher?</li>
              </a>
              <div class="collapse" id="faq2">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq3" aria-expanded="false" aria-controls="faq3">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> What
                  food is Allergy Safe?</li>
              </a>
              <div class="collapse" id="faq3">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq4" aria-expanded="false" aria-controls="faq4">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> Whats
                  safe for people with a food
                  intolorance?</li>
              </a>
              <div class="collapse" id="faq4">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq5" aria-expanded="false" aria-controls="faq5">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> How do I join the Bronto team?</li>
              </a>
              <div class="collapse" id="faq5">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq6" aria-expanded="false" aria-controls="faq6">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> What are you options for catering or
                  parties?</li>
              </a>
              <div class="collapse" id="faq6">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq7" aria-expanded="false" aria-controls="faq7">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> Does Bronto Burger offer Franchises?</li>
              </a>
              <div class="collapse" id="faq7">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq8" aria-expanded="false" aria-controls="faq8">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> How can I get some cool Bronto clothing
                  or gear?</li>
              </a>
              <div class="collapse" id="faq8">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq9" aria-expanded="false" aria-controls="faq9">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> How can I get the Bronto App?</li>
              </a>
              <div class="collapse" id="faq9">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq10" aria-expanded="false" aria-controls="faq10">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> Do codes for the Bronto App only work
                  with the app?</li>
              </a>
              <div class="collapse" id="faq10">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

              <a data-toggle="collapse" href="#faq11" aria-expanded="false" aria-controls="faq11">
                <li class="ul-item mb-2"><i class="fas fa-greater-than"></i> Can I only order on the App?</li>
              </a>
              <div class="collapse" id="faq11">
                <div class="card card-body bg-purple text-light">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>

            </ul>
          </div>
        </section>

      </div>
    </div>
</section>

<section>
  <div class="container">
    <p>Still didn't get the information you needed? Try our <a href="#">emailing or calling our support team</a>!</p>
  </div>
</section>

{% endblock %}