{% extends 'base.html' %}

{% load static %}

{% block title %}
| Home
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="wrapper">
    <section id="header">
      <div id="jungle">
        <img src="{% static 'img/Junglebground.svg' %}" alt="">
      </div>
      <div id="rex">
        <img src="{% static 'img/trex.svg' %}">
      </div>
      <div id="burger">
        <img src="{% static 'img/hamburger-295090.svg' %}">
      </div>
      <div id="grass">
        <img src="{% static 'img/grass.svg' %}" alt="">
      </div>
      <div id="branding" class="p-3 text-center text-white">
        <h1 class="mb-2 shadowed">
          Bronto Burger
        </h1>
        <h3 class="d-none d-md-block lead shadowed">A Hunger, 65 Million Years In The Making</h3>
        <a href="#" class="d-inline d-lg-none btn btn-green text-white swinger">Check out our menu <i
            class="fas fa-hamburger"></i></a>
      </div>
    </section>
  </div>

  <!-- New Food-->
  <section id="newFood" class="py-5">
    <div class="container">
      <div class="p-3 text-center mb-3">
        <h1 class="display-4 mb-2">
          Bronto Favorites
        </h1>
        <h3 class="lead mb-4">Chef Alejandro has done it again</h3>
        <a href="{% url 'menu' %}" class="btn btn-green text-white swinger">View Full Menu</a>
        <hr>
      </div>
      <div class="row justify-content-center">

      {% if promoted_food %}
      {% for food in promoted_food %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="{{food.photo.url}}" alt="">
            <div class="card-body">
              <div class="text-center text-dark">
                <h2>{{food.name}}</h2>
                <p>{{food.cals}} Cal</p>
                <a href="#" class="btn btn-green text-white swinger">Check This Out</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <p>None at this time</p>
      {% endif %}
      </div>
    </div>
  </section>

  <!--Food Section -->
  <section id="foodOptions" class="py-4">
    <div class="container">
      <div class="p-3 text-center mb-5">
        <h1 class="display-4 mb-2">
          Food For All Diets
        </h1>
        <h3 class="lead mb-4">The Dinos aren't the only ones well fed</h3>
        <a href="#" class="btn btn-green text-white swinger">View Full Menu</a>
        <hr>
      </div>
      <div class="row text-center">
        <div class="col-md-4 mb-5">
          <a role="button" href="#" class="btn btn-green text-white swinger mb-3">
            <img class="dino-btn" src="{% static 'img/rexButton.svg' %}" alt="">
            Carnivore Options
          </a>
          <hr class="d-none d-lg-block grey">
          <p>
            Well, it's more like Omnivore options. Only a few known dinosaurs are classified as Omnivores though. We
            offer chicken, beef, and
            fish options for those who wish to eat like a Oviraptor or have a Tyrannosaurus hunger.
          </p>
        </div>
        <div class="col-md-4 mb-5">
          <a role="button" href="#" class="btn btn-green text-white swinger mb-3">
            <img class="dino-btn" src="{% static 'img/trikeButton.svg' %}" alt="">
            Herbivore Options
          </a>
          <hr class="d-none d-lg-block grey">
          <p>Not all the Dinos in the park eat meat and niether do you! We have plenty of vegitarian and vegan options.
            From Black bean burgers to salads, we're sure you'll love our options!
          </p>
        </div>
        <div class="col-md-4 mb-5">
          <a role="button" href="#" class="btn btn-green text-white swinger mb-3">
            <img class="dino-btn" src="{% static 'img/raptorButton.svg' %}" alt="">
            Juvenile Options
          </a>
          <hr class="d-none d-lg-block grey">
          <p>They can't eat like a Bronto. Our Dino Jr menu selection is perfect for small kids, and anyone who wants
            a small meal. Plus they'll enjoy a Jurassic toy!
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Deals and Offers-->
  <section id="deals" class="py-4">
    <div class="container">
      <div class="p-3 text-center mb-3">
        <h1 class="display-4 mb-2">
          Deals And Offers
        </h1>
        <h3 class="lead mb-4">We spared no expense, but you don't have to</h3>
        <a href="#" class="btn btn-green text-white swinger">See all Current Deals</a>
        <hr>
      </div>
      <div class="row mb-3 fossil">
        <div class="p-2 col zoomer"><a href="#"><img class="dropShadow" src="./img/BrontMealDeal.png" alt=""></a></div>
        <div class="ml-4 d-none d-lg-inline p-2 col align-self-center text-left">
          <h2>Jurassic Park Tickets</h2>
          <p>Did you know you're Jurassic Park ticket can be scanned in store for a one-time free drink at any Bronto
            Burger?
            Save your ticket after your trip and redeem it at your local Bronto Burger. Digital tickets work as well,
            just open your Jurassic Park App.
          </p>
          <a href="#" class="btn btn-green text-white swinger">Learn More</a>
        </div>
      </div>
      <div class="row mb-3 fossil">
        <div class="mr-4 d-none d-lg-inline p-2 col align-self-center text-right">
          <h2>Bag Codes</h2>
          <p>Every purchase at your local Bronto Burger has a redemable code on the bottom.
            Redeem it in your Jurassic Park app for a chance to earn discounts in the park, at the Jurassic Park Shop,
            and at local Bronto Burgers!
          </p>
          <a href="#" class="btn btn-green text-white swinger">Learn More</a>
        </div>
        <div class="p-2 col zoomer"><a href="#"><img class="dropShadow" src="./img/bagSwag-1.png" alt=""></a></div>
      </div>
      <div class="row mb-3 fossil">
        <div class="p-2 col zoomer"><a href="#"><img class="dropShadow" src="./img/nuggetDeal.png" alt=""></a></div>
        <div class="ml-4 d-none d-lg-inline p-2 col align-self-center text-left">
          <h2>20 Compy Nuggets For $7</h2>
          <p>We describe Compsognathus as "chicken-sized" dinosaurs. Our juicy Nuggets
            are only made from 100% Chickens however. You can get your claws on 20 Compy Nuggets
            for just $7 now through July!
          </p>
          <a href="#" class="btn btn-green text-white swinger">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}