{% extends 'base.html' %}

{% load static %}

{% block title %}
| Sitemap
{% endblock %}

{% block content %}

<!-- Sitemap -->
<section class="textheader">
  <div class="container">
    <h2>Sitemap</h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="list-group-item"><a href="{% url 'about' %}">About</a></li>
      <li class="list-group-item"><a href="{% url 'menu' %}">Menu</a></li>
      <li class="list-group-item"><a href="{% url 'contact' %}">Contact</a></li>
      <li class="list-group-item"><a href="{% url 'deals' %}">Deals</a></li>
      <li class="list-group-item"><a href="{% url 'shop' %}">Shop</a></li>
      <li class="list-group-item"><a href="{% url 'bronto_app' %}">Bronto App</a></li>
      <li class="list-group-item"><a href="{% url 'careers' %}">Careers</a></li>
      <li class="list-group-item"><a href="{% url 'faq' %}">FAQ</a></li>
      <li class="list-group-item"><a href="{% url 'investments' %}">Investments</a></li>
      <li class="list-group-item"><a href="{% url 'privacy' %}">Privacy</a></li>
      <li class="list-group-item"><a href="{% url 'terms' %}">Terms</a></li>
    </ul>


  </div>
</section>

{% endblock %}