{% extends 'base.html' %}

{% load static %}

{% block title %} | Menu {% endblock %}

{% block content %}


  <!-- Filter Menu -->
  <section class="textheader">
    <div class="container py-4">
      <div class="row justify-content-center">
        <h3>Filter menu Options</h3>
      </div>
      <form action="#">
        <div class="row justify-content-center">
          <label class="PillList-item">
            <input type="checkbox" name="restr" value="vegan">
            <span class="PillList-label">Vegan
              <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
            </span>
          </label>
          <label class="PillList-item">
            <input type="checkbox" name="restr" value="vegtrn">
            <span class="PillList-label">Vegetarian
              <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
            </span>
          </label>
          <label class="PillList-item">
            <input type="checkbox" name="restr" value="glutF">
            <span class="PillList-label">Gluten-Free
              <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
            </span>
          </label>
          <label class="PillList-item">
            <input type="checkbox" name="restr" value="lactF">
            <span class="PillList-label">Lactose-Free
              <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
            </span>
          </label>
        </div>
        <div class="row justify-content-center">
          <label class="PillList-item">
            <input type="checkbox" name="restr" value="eggF">
            <span class="PillList-label">Egg-Free
              <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
            </span>
          </label>
          <label class="PillList-item">
            <input type="checkbox" name="restr" value="soyF">
            <span class="PillList-label">Soy-Free
              <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
            </span>
          </label>
          <label class="PillList-item">
            <input type="checkbox" name="restr" value="nutF">
            <span class="PillList-label">Nut-Free
              <span class="Icon Icon--checkLight Icon--smallest"><i class="fa fa-check"></i></span>
            </span>
          </label>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-green" type="submit">Filter Menu</button>
        </div>
    </div>
    </form>
    </div>
  </section>

  <hr>

  <!-- Menu Options-->
  <section>
    <div class="container">
      <div class="row justify-content-center p-2 mb-3">
        <h1>Menu Options</h1>
      </div>
      {% if products %}
      <h3>Burgers</h3>
      <hr>
      <div class="row py-2 mb-5">
        {% for item in products %}
        {% if item.category == 'brgr' %}
        <div class="col-12 col-md-6">
          <div class="media">
            <img class="mr-3 img-thumbnail preview" src="{{ item.photo.url }}"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5>{{  item.name }}</h5>
              <a href="{% url 'nutrition' item.id %}" class="btn btn-green btn-sm text-white swinger">more info</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <h3>Chicken</h3>
      <hr>
      <div class="row py-2 mb-5">
        {% for item in products %}
        {% if item.category == 'chkn' %}
        <div class="col-12 col-md-6">
          <div class="media">
            <img class="mr-3 img-thumbnail preview" src="{{ item.photo.url }}"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5>{{ item.name }}</h5>
              <a href="{% url 'nutrition' item.id %}" class="btn btn-green btn-sm text-white swinger">more info</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>


      <h3>Salads</h3>
      <hr>
      <div class="row py-2 mb-5">
        {% for item in products %}
        {% if item.category == 'slad' %}
        <div class="col-12 col-md-6">
          <div class="media">
            <img class="mr-3 img-thumbnail preview" src="{{ item.photo.url }}"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5>{{ item.name }}</h5>
              <a href="{% url 'nutrition' item.id %}" class="btn btn-green btn-sm text-white swinger">more info</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <h3>Smoothies and Shakes</h3>
      <hr>
      <div class="row py-2 mb-5">
        {% for item in products %}
        {% if item.category == 'smth' %}
        <div class="col-12 col-md-6">
          <div class="media">
            <img class="mr-3 img-thumbnail preview" src="{{ item.photo.url }}"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5>{{ item.name }}</h5>
              <a href="{% url 'nutrition' item.id %}" class="btn btn-green btn-sm text-white swinger">more info</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <h3>Sides</h3>
      <hr>
      <div class="row py-2 mb-5">
        {% for item in products %}
        {% if item.category == 'side' %}
        <div class="col-12 col-md-6">
          <div class="media">
            <img class="mr-3 img-thumbnail preview" src="{{ item.photo.url }}"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5>{{ item.name }}</h5>
              <a href="{% url 'nutrition' item.id %}" class="btn btn-green btn-sm text-white swinger">more info</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <h3>Drinks</h3>
      <hr>
      <div class="row py-2 mb-5">
        {% for item in products %}
        {% if item.category == 'bev' %}
        <div class="col-12 col-md-6">
          <div class="media">
            <img class="mr-3 img-thumbnail preview" src="{{ item.photo.url }}"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5>{{ item.name }}</h5>
              <a href="{% url 'nutrition' item.id %}" class="btn btn-green btn-sm text-white swinger">more info</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>


      <h3>Kids Options</h3>
      <hr>
      <div class="row py-2 mb-5">
        {% for item in products %}
        {% if item.category == 'kdml' %}
        <div class="col-12 col-md-6">
          <div class="media">
            <img class="mr-3 img-thumbnail preview" src="{{ item.photo.url }}"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5>{{ item.name }}</h5>
              <a href="{% url 'nutrition' item.id %}" class="btn btn-green btn-sm text-white swinger">more info</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% else %}
      <p>
        No options with your restrictions.
      </p>
      {% endif %}

    </div>
  </section>

{% endblock %}