{% extends 'base.html' %}

{% load static %}

{% block title %} | {{ item.name }} {% endblock %}

{% block content %}

 <!-- Showcase -->
 <section class="textheader">
  <div class="container">
    <div class="row text-center text-md-left">
      <div class="col-sm-7 col-xs-12">
        <h1 class="display-2">{{ item.name }}</h1>
        <h6 class="lead">{{ item.slogan }}</h6>
        <p>
          {{ item.description }}
        </p>
        <p class="d-none d-md-inline">
          <small class="text-muted">
            Ingredients: {{ item.ingredients }}
          </small>
        </p>
      </div>
      <div class="col">
        <img src="{{ item.photo.url }}" alt="">
      </div>
    </div>
    <hr>

<!-- Nutrition -->
    <div class="row justify-content-center mb-5">
      <div class="col">
        <div class="row my-1 justify-content-center justify-content-md-start">
          <h1>Nutrition Facts</h1>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-striped table-sm">
              <tbody>
                <tr>
                  <th scope="row">Calories</th>
                  <td>{{ item.cals }}</td>
                </tr>
                <tr>
                  <th scope="row">Fat</th>
                  <td>{{ item.fat }} g</td>
                </tr>
                <tr>
                  <th scope="row">Saturated Fat</th>
                  <td>{{ item.sat_fat }} g</td>
                </tr>
                <tr>
                  <th scope="row">Trans Fat</th>
                  <td>{{ item.trans_fat }} g</td>
                </tr>
                <tr>
                  <th scope="row">Cholesterol</th>
                  <td>{{ item.cholesterol }} mg</td>
                </tr>
                <tr>
                  <th scope="row">Sodium</th>
                  <td>{{ item.sodium }} mg</td>
                </tr>
                <tr>
                  <th scope="row">Carbohydrates</th>
                  <td>{{ item.carbs }} g</td>
                </tr>
                <tr>
                  <th scope="row">Fiber</th>
                  <td>{{ item.fiber }} g</td>
                </tr>
                <tr>
                  <th scope="row">Sugar</th>
                  <td>{{ item.sugar }} g</td>
                </tr>
                <tr>
                  <th scope="row">Protien</th>
                  <td>{{ item.protien }} g</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row my-1 justify-content-center justify-content-md-start">
          <h1>Allergens/Restictions</h1>
        </div>
        <div class="row">
          {% if diet_type %}
            {% for x in diet_type %}
          <div class="col">
              <h3><span class="badge badge-blue">{{ x }}</span></h3>
          </div>
            {% endfor %}
          {% endif %}
      </div>
    </div>

  </div>
  </div>
</section>


{% endblock %}